@model MySpotify.Models.MediaDownloadModel

<div class="header navbar navbar-expand-lg navbar-light bg-black">
	<div class="header__section">
		<div class="header__item headerlogo">
			<a class="nav-item nav-link active" asp-action="Index" asp-controller="Media">
				<img src="~/img/spotify-logo.svg" style="max-width:100px;" />
			</a>
		</div>

	</div>

	<div class="header__section">
		<div class="header__item headerlogo">
			<a class="nav-item nav-link active" asp-action="Logout" asp-controller="User">Выйти</a>
		</div>
	</div>
</div>

<section>
	
	<div class="form-box" style="height: 650px;">
		<div class="form-value">
			<form asp-action="Create" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<h2>Добавить медиа</h2>
				
				<div class="inputbox form-group">
					<ion-icon name="musical-note-outline"></ion-icon>
					<input asp-for="@Model.MediaDTO!.Name"  required />
					<label asp-for="@Model.MediaDTO!.Name" >Название</label>
					<span asp-validation-for="@Model.MediaDTO!.Name" class="text-danger"></span>
				</div>


				<div class="inputbox form-group">
					<ion-icon name="musical-note-outline"></ion-icon>
					<input asp-for="@Model.MediaDTO!.Artist" required />
					<label asp-for="@Model.MediaDTO!.Artist" class="control-label">Исполнитель</label>
					<span asp-validation-for="@Model.MediaDTO!.Artist" class="text-danger"></span>
				</div>

				<div class="inputbox">
					Медиафайл
					<ion-icon name="musical-note-outline"></ion-icon>
					<input asp-for="MediaDTO.FileAdress" name="upMedia" type="file" required accept=".mp3" />
					
				</div>

				<div class="inputbox">
					Постер
					<ion-icon name="musical-note-outline"></ion-icon>
					<input asp-for="MediaDTO.Poster" name="upPoster" type="file" required accept=".jpg, .jpeg, .png" />
					
				</div>
				<div class="form-group inputbox">
					Жанр
					<select asp-for="@Model.MediaDTO.Genre" name="genre" class="form-control" asp-items="@(new SelectList(Model.Genres , "Id" ,"Name"))"></select>
					<span asp-validation-for="@Model.MediaDTO.Genre" class="text-danger"></span>
				</div>
			
				<div class="form-group">
					<input type="submit" value="Добавить" class="btn btn-primary" id="btn_Enter" style="color:black;" />
				</div>
				
			</form>
		</div>
	</div>
</section>




