@model MySpotify.Models.RegistrationModel
@using MySpotify.Resourses

<div class="header navbar navbar-expand-lg navbar-light bg-black">
	<div class="header__section">
		<div class="header__item headerlogo">
			<a class="nav-item nav-link active" asp-action="Index" asp-controller="User">
				<img src="~/img/spotify-logo.svg" style="max-width:100px;" />
			</a>
		</div>

	</div>

	<div class="header__section">
		<div class="header__item headerlogo">
			<a class="nav-item nav-link active" asp-action="Login" asp-controller="User">@Resource.Login</a>
		</div>
		<div class="header__item headerlogo">
			<a class="nav-item nav-link disabled" asp-action="Registration" asp-controller="User">@Resource.Registration</a>
		</div>
	</div>
</div>

<section>
	
	<div class="form-box" style="height: 650px;">
		<div class="form-value">
			<form asp-action="Registration">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<h2>@Resource.Registration</h2>
				<div class="inputbox form-group">
					<ion-icon name="accessibility-outline"></ion-icon>
					<input asp-for="FirstName"  required />
					<label asp-for="FirstName" class="control-label">@Resource.Name</label>
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>


				<div class="inputbox form-group">
					<ion-icon name="accessibility-outline"></ion-icon>
					<input asp-for="LastName" required />
					<label asp-for="LastName" class="control-label">@Resource.Second_Name</label>
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>

				<div class="inputbox form-group">
					<ion-icon name="mail-outline"></ion-icon>
					<input asp-for="Email"  required />
					<label asp-for="Email" class="control-label">@Resource.Email</label>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="inputbox form-group">
					<ion-icon name="lock-closed-outline"></ion-icon>
					<input asp-for="Password"  required type="password" />
					<label >@Resource.Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="inputbox form-group">
					<ion-icon name="lock-closed-outline"></ion-icon>
					<input asp-for="PasswordConfirm" required type="password" />
					<label asp-for="PasswordConfirm" class="control-label"></label>
					<span asp-validation-for="PasswordConfirm" class="text-danger"></span>

				</div>


				<div class="form-group">
					<input type="submit" value="Войти" class="btn btn-primary" id="btn_Enter" style="color:black;" />
				</div>
				<div class="Register">
					<p>
						Есть аккаунт? 
						<a class="nav-item nav-link active" asp-action="Login" asp-controller="Users">Войти в аккаунт</a>
					</p>
				</div>


			</form>
		</div>
	</div>
</section>




